body {
    background: rgb(65,65,65);
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(28,28,28,1) 22%);
    background-attachment: fixed;
    height: 100%;
  }
  
  h1 {
    font-family: "Monaco", monospace;
    color: white;
    padding-top: 30px;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .navigation ul {
    color: white;
    padding-top: 10%;
    padding-right: 45%;
    text-align: center;
  }
  
  .navigation li {
    color: white;
    list-style-type: none;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 20px;
  }

  a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  .image {
    position: absolute;
    right: 200px;
    top: 180px;
    border: 5px solid #555;
  }

  p {
    font-family: "Optima", sans-serif;
    color: white;
    font-size: 15px;
    line-height: 1.3em;
    text-align: center;
    width: 100%;
    }
